/******Colors******/
$primary-color: #1b252e;
$secondary-color:#db5969;
$gray-color: #bdbdbd;
$white-color: #ffffff;
$black-color: #000000;

/******Media-Query******/
$mq-mobile-portrait: 320px !default;
$mq-mobile-landscape: 480px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;
