/******Colors******/
/******Media-Query******/
/*================================================
[ Start Mixin contents  ]
================================================
1:: Flex-Box
2:: Box-Sizing
3:: Overlay
4:: Circle
5:: Transation
6:: Transform
7:: Object-Fit
8:: Background-Cover
9:: Postion-Absolute
10:: Media-Query
======================================
[ End Mixin content ]
======================================*/
/******Start-Flex-box******/
/******End-Flex-box******/
/******Start-Box-Sizing******/
/******End-Box-Sizing******/
/******Start-Overlay******/
/******End-Overlay******/
/******Start-Circle******/
/******End-Circle******/
/******Start-Transation******/
/******End-Transation******/
/******Start-Transform******/
/******Start-Transform******/
/******Start-Object-Fit******/
/******End-Object-Fit******/
/******Start-background-Cover******/
/******End-background-Cover******/
/******Start-Absolute******/
/******End-Absolute******/
/******Start-Media-Query******/
/******End-Media-Query******/
/******Fonts******/
@font-face {
  font-family: "Almarai-Regular";
  src: url(../fonts/Almarai-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Almarai-Light";
  src: url(../fonts/Almarai-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Almarai-Bold";
  src: url(../fonts/Almarai-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Almarai-ExtraBold";
  src: url(../fonts/Almarai-ExtraBold.ttf);
  font-display: swap;
}

/******Body******/
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
}

body {
  font-family: "Almarai-Regular" !important;
  padding: 0 !important;
  margin: 0 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden !important;
  direction: rtl !important;
  background-color: #ffffff;
  text-align: right;
  scroll-behavior: smooth;
}

/*****section-padding******/
.all {
  padding: 3em 0;
}

/*****section-padding******/
/******Scroll-Bar******/
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #1b252e;
  outline: 1px solid #ffffff;
  border-radius: 30px;
}

::-moz-selection {
  background: #1b252e;
  color: #ffffff;
}

::selection {
  background: #1b252e;
  color: #ffffff;
}

/******Reset******/
a {
  color: #1b252e;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
  color: #ffffff;
}

button {
  border: 0;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

a,
button,
#scroll-top {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: 0 !important;
}

.container .row,
.container-fluid .row {
  width: 100%;
}

h1 {
  font-family: "Almarai-Bold";
}

/******Reset******/
/*************Start-Responsive-Section*************/
@media only screen and (max-width: 768px) {
  .container .row,
  .container-fluid .row {
    width: unset;
  }
  .all {
    padding: 3em 1em;
  }
}

/*************End-Responsive-Section*************/
/**************Start-Navbar**************/
nav {
  background-color: #1b252e;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav .logo img {
  width: 100%;
  height: auto;
  max-width: 90px;
}

nav .lang-btn {
  font-size: 1.2rem;
  color: #bdbdbd;
  font-weight: 600;
}

nav .lang-btn i {
  padding: 0 5px;
}

nav .login-btn {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  margin-left: 10px;
}

/**************End-Navbar**************/
@media only screen and (max-width: 768px) {
  nav .logo img {
    max-width: 65px;
  }
  nav .lang-btn {
    font-size: 0.9rem;
  }
}

footer {
  background: #1b252e;
  padding: 15px 20px;
}

footer ul li {
  padding: 0 5px;
  font-size: 20px;
}

footer ul li a {
  color: #ffffff;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

footer ul li a:hover {
  color: #db5969;
}

footer p {
  color: #bdbdbd;
  margin-bottom: 0 !important;
}

header {
  background-image: url(../img/page-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*************Start-Header-Section*************/
.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  border: 1px solid #db5969;
  padding: 10px;
  position: relative;
}

.swiper::before, .swiper::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 70%;
}

.swiper::before {
  bottom: 0;
  left: 0px;
  border-left: 10px solid #db5969;
  border-bottom: 10px solid #db5969;
}

.swiper::after {
  top: 0;
  right: 0px;
  border-right: 10px solid #db5969;
  border-top: 10px solid #db5969;
}

.swiper .swiper-container {
  width: 100%;
  height: 70vh;
}

.swiper .swiper-container .swiper-slide {
  position: relative;
}

.swiper .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper .swiper-container .swiper-slide .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.swiper .swiper-container .slide-captions {
  position: absolute;
  top: 40%;
  left: 15%;
  color: #ffffff;
  z-index: 999;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.swiper .swiper-container .slide-button {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #ffffff;
  background-color: #db5969;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 800;
  padding: 5px 30px;
  z-index: 999;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.swiper .swiper-container .slide-captions .current-title {
  font-size: 60px;
}

.swiper .swiper-container .swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper .swiper-container .swiper-pagination-bullet-active {
  background-color: #db5969;
}

/*************End-Header-Section*************/
/*************Start-Download-Section*************/
.download {
  background-image: url(../img/page-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.download .right-download {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
}

.download .right-download h1 {
  letter-spacing: -1px;
  font-size: 4rem;
  font-weight: 300;
  color: #db5969;
  margin-bottom: 20px;
}

.download .right-download p {
  font-size: 1.5rem;
  color: #000000;
  line-height: 1.5;
  margin: 20px 0;
}

.download .right-download .download-btn img {
  width: 180px;
  margin: 20px 8px 0 8px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.download .right-download .download-btn img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.download .left-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download .left-download img {
  display: block;
  width: 100%;
  height: auto;
}

.download .left-download .logo {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 20%;
  top: 40%;
  -webkit-transform: translate(5%, -40%);
  transform: translate(5%, -40%);
  -o-object-fit: contain;
  object-fit: contain;
}

/*************End-Download-Section*************/
/*************Start-About-Section*************/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 2em !important;
}

.about .about-desc {
  width: 100%;
  min-height: 500px;
  border: solid 5px #db5969;
  background: url(https://images.unsplash.com/photo-1541439634124-b33597ca3a44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background: #1b252e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about .about-desc h1 {
  color: #db5969;
  letter-spacing: -1px;
  font-size: 5rem;
  margin-bottom: 20px;
}

.about .about-desc p {
  color: #ffffff;
  font-size: 1.7rem;
  line-height: 1.5;
  width: 50%;
}

/*************End-About-Section*************/
/*************Start-Responsive-Section*************/
@media only screen and (max-width: 768px) {
  header .row {
    padding: 0 !important;
    padding: 0 10px !important;
  }
  .swiper .swiper-container {
    height: 40vh;
  }
  .swiper .swiper-container .slide-captions .current-title {
    font-size: 40px;
  }
  .download .right-download h1 {
    font-size: 3rem;
  }
  .download .right-download p {
    font-size: 1.2rem;
  }
  .download .right-download .download-btn img {
    width: 100px;
    margin: 20px 8px 0 0px;
  }
  .download .left-download .logo {
    width: 75px;
    height: 75px;
  }
  .about .about-desc {
    min-height: 400px;
  }
  .about .about-desc h1 {
    font-size: 3rem;
  }
  .about .about-desc p {
    font-size: 1.2rem;
    width: 100%;
  }
}

@media only screen and (min-width: 1382px) {
  .swiper .swiper-container {
    height: 40vh;
  }
}

/*************End-Responsive-Section*************/
/*# sourceMappingURL=main.css.map */