footer{
  background:$primary-color;
  padding: 15px 20px;
  ul{
    li{
      padding: 0 5px;
      font-size: 20px;
      a{
        color: $white-color;
        @include rTransition(0.5s ease all);
        &:hover{
          color: $secondary-color;
        }
      }
   
    }
  }
  p{
    color: $gray-color;
    margin-bottom: 0 !important;
  }
}