/**************Start-Navbar**************/
nav {
  background-color: $primary-color;
  box-shadow: 0 2px 4px 0 rgba($black-color, 0.2);
  padding: 10px 20px;
  @include flex;
  @include align-items(center);
  @include justify-content(space-between);
  .logo {
    img {
      width: 100%;
      height: auto;
      max-width: 90px;
    }
  }
  .lang-btn{
    font-size: 1.2rem;
    color: $gray-color;
    font-weight: 600;
    i{
      padding: 0 5px;
    }
  }
  .login-btn{
    color: $white-color;
    background-color: transparent;
    border: 2px solid $white-color;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    margin-left: 10px;
  }
}
/**************End-Navbar**************/
@include tablet-portrait-and-below {
  nav {
    .logo {
      img {
        max-width: 65px;
      }
    }
    .lang-btn{
      font-size: 0.9rem;
    }
  }
}
