/******Fonts******/
@font-face {
  font-family: "Almarai-Regular";
  src: url(../fonts/Almarai-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-Light";
  src: url(../fonts/Almarai-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-Bold";
  src: url(../fonts/Almarai-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url(../fonts/Almarai-ExtraBold.ttf);
  font-display: swap;
}

/******Body******/
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
}
body {
  font-family: "Almarai-Regular" !important;
  padding: 0 !important;
  margin: 0 !important;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden !important;
  direction: rtl !important;
  background-color: $white-color;
  text-align: right;
  scroll-behavior: smooth;
}

/*****section-padding******/
.all {
  padding: 3em 0;
}
/*****section-padding******/

/******Scroll-Bar******/
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: $white-color;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid $white-color;
  border-radius: 30px;
}
::-moz-selection {
  background: $primary-color;
  color: $white-color;
}
::selection {
  background: $primary-color;
  color: $white-color;
}

/******Reset******/
a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $white-color;
  }
}
button {
  border: 0;
  color: $white-color;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}
a,
button,
#scroll-top {
  @include rTransition(all 0.4s ease-in-out);
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-border {
  border: 0 !important;
}

.container .row,
.container-fluid .row {
  width: 100%;
}
h1{
  font-family: "Almarai-Bold";
}
/******Reset******/

/*************Start-Responsive-Section*************/
@include tablet-portrait-and-below {
  .container .row,
  .container-fluid .row {
    width: unset;
  }
  .all {
    padding: 3em 1em;
  }
}
/*************End-Responsive-Section*************/
