header {
  background-image: url(../img/page-bg.png);
  @include bg-cover;
}
/*************Start-Header-Section*************/
.swiper {
  @include center;
  margin-top: 30px;
  border: 1px solid $secondary-color;
  padding: 10px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 70%;
  }
  &::before {
    bottom: 0;
    left: 0px;
    border-left: 10px solid $secondary-color;
    border-bottom: 10px solid $secondary-color;
  }
  &::after {
    top: 0;
    right: 0px;
    border-right: 10px solid $secondary-color;
    border-top: 10px solid $secondary-color;
  }
  .swiper-container {
    width: 100%;
    height: 70vh;
    .swiper-slide {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .overlay {
        @include overlay($black-color, 0.6);
      }
    }
    .slide-captions {
      position: absolute;
      top: 40%;
      left: 15%;
      color: $white-color;
      z-index: 999;
      transform: translateY(-40%);
    }
    .slide-button {
      position: absolute;
      top: 50%;
      left: 20%;
      color: $white-color;
      background-color: $secondary-color;
      border: 2px solid $white-color;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 800;
      padding: 5px 30px;
      z-index: 999;
      transform: translateY(50%);
    }
    .slide-captions .current-title {
      font-size: 60px;
    }
    .swiper-pagination-bullet {
      background-color: $white-color;
    }
    .swiper-pagination-bullet-active {
      background-color: $secondary-color;
    }
  }
}
/*************End-Header-Section*************/

/*************Start-Download-Section*************/
.download {
  background-image: url(../img/page-bg.png);
  @include bg-cover;
  .right-download {
    @include align-self(center);
    margin-bottom: 30px;
    h1 {
      letter-spacing: -1px;
      font-size: 4rem;
      font-weight: 300;
      color: $secondary-color;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.5rem;
      color: $black-color;
      line-height: 1.5;
      margin: 20px 0;
    }
    .download-btn {
      img {
        width: 180px;
        margin: 20px 8px 0 8px;
        @include rTransition(0.5s all);
        &:hover {
          @include rTransform(scale(1.1));
        }
      }
    }
  }
  .left-download {
    @include center;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .logo {
      width: 120px;
      height: 120px;
      position: absolute;
      left: 20%;
      top: 40%;
      @include rTransform(translate(5%, -40%));
      @include objectFit(contain);
    }
  }
}
/*************End-Download-Section*************/

/*************Start-About-Section*************/
.about {
  @include center;
  padding: 3em 2em !important;

  .about-desc {
    width: 100%;
    min-height: 500px;
    border: solid 5px $secondary-color;
    background: url(https://images.unsplash.com/photo-1541439634124-b33597ca3a44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background: $primary-color;
    @include bg-cover;
    @include center;
    @include flex-direction(column);
    h1 {
      color: $secondary-color;
      letter-spacing: -1px;
      font-size: 5rem;
      margin-bottom: 20px;
    }
    p {
      color: $white-color;
      font-size: 1.7rem;
      line-height: 1.5;
      width: 50%;
    }
  }
}
/*************End-About-Section*************/

/*************Start-Responsive-Section*************/
@include tablet-portrait-and-below {
  header {
    .row {
      padding: 0 !important;
      padding: 0 10px !important;
    }
  }
  .swiper {
    .swiper-container {
      height: 40vh;
      .slide-captions .current-title {
        font-size: 40px;
      }
    }
  }

  .download {
    .right-download {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
      .download-btn {
        img {
          width: 100px;
          margin: 20px 8px 0 0px;
        }
      }
    }
    .left-download {
      .logo {
        width: 75px;
        height: 75px;
      }
    }
  }

  .about {
    .about-desc {
      min-height: 400px;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
        width: 100%;
      }
    }
  }
}
@include desktop-and-below {
  .swiper {
    .swiper-container {
      height: 40vh;
    }
  }
}
/*************End-Responsive-Section*************/
