/**** start layout ***/
.navbar{
    direction: rtl;
}
div.navbar-collapse {
    text-align: center;
}
.skwed{
    transform: skew(34deg);
    background-color: #fff;
    width: max-content;
    margin: 0 auto;
    padding: 6px 20px;
    -webkit-box-shadow: 0px 5px 20px rgba(40,40,40,0.4);
    box-shadow: 0px 5px 20px rgba(40,40,40,0.4);
    display: inline-block;
}
div.navbar-collapse h3{
    transform: skew(-34deg);
    color: #89d7ec!important;
    text-align: center;
    font-size: 30px;
    margin-top: 14px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border: 0 !important;
}
div#navbar-collapse {
    position: relative;
}
.nav-logo {
    width: 155px;
    display: inline-block;
    background-color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(34deg);
    padding: 4px;
}
.nav-logo img {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    transform: skew(-34deg);
}
.sidebar .menu .list .header {
    background: #89d7ec;
    color: #fff;
}
.dropdown-menu.pull-left li:last-child {
    background-color: #7a7676;
}
/**** End layout ***/
.card {
    background: #fff !important;
}
.btn-circle {
    line-height: 40px;
    padding: 0;
    margin: 0;
}
.btn-circle i {
    position: static;
    text-align: center;
    padding: 0 !important;
}
.card .header h2 li {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
}
.swal-button--danger ,.swal-icon--warning__body, .swal-icon--warning__dot,.swal-button:not([disabled]):hover , .swal-icon--info:after, .swal-icon--info:before{
    background-color: #89d7ec;
}
.swal-icon--warning, .swal-icon--info {
    border-color: #89d7ec !important;
}
/***** start login page ***/
.login-page {
    background-image: url(../../assets/images/back.jpg);
}
.login-box .logo a img {
    max-width: 120px;
}
.login-page .login-box .logo {
    margin-top: 40px !important;
}
.login-box .card {
    margin-top: 0 !important;
    background: transparent !important;
}
.login-box button.btn.btn-block.bg-blue.waves-effect {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.login-box {
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
        background-color: rgba(87, 87, 87, 0.4);
}
.input-group .input-group-addon {
    padding: 0;
}
/***** end login page ***/
/***** start tables ***/
.table{
    width: 100% !important
}
.table th {
    color: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover , .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #fff!important;
    box-shadow: none !important;
    background: #89d7ec !important;
}
.dt-buttons button {
    border: 0 !important;
}
/***** end tables ***/

/***** start forms ***/
.btn-danger, .btn-danger:active, .btn-danger:focus {
    color: #fff!important;
}
.content .body form button.btn.btn-primary.waves-effect {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: table;
}
/***** end forms ***/
.btn-success {
    background-color: #232B58 !important;
}
.btn-primary:hover,.btn-primary:focus, .btn-info:hover,.btn-info:focus, .btn-success:hover, .btn-success:focus {
    background: #89d7ec !important;
    color: #fff!important;
}
.select2-container {
    text-align: right;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    left: 1px;
    right: auto;
}
.content .body form button.btn.btn-primary.waves-effect {
    min-width: 100px;
}
.demo-checkbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.demo-checkbox label {
    flex: 1 0 50%;
    height: unset;
}
.dt-buttons {
    text-align: left;
}
.dataTables_filter input[type="search"] {
    border: 2px solid;
}
.dataTables_wrapper input[type="search"]:focus, .dataTables_wrapper input[type="search"]:active {
    border-color: #89d7ec;
}
/***** Responsive***/
@media (max-width: 1169px) {
    .navbar-header {
    background-color: #fff;
    text-align: center;
}
    .navbar-header a:hover, .navbar-header a:focus {
    color: #000000;
}
}
@media (min-width: 768px) {
    .form-group.form-float {
    width: 49%;
    display: inline-block;
    padding: 0 10px;
}
    .col-md-3 .form-group.form-float {
    width: 100%;
    display: block;
    padding: 0;
        min-height: 42px;
}
}
@media (max-width: 768px) {
    a.btn.btn-circle {
    width: 30px;
    height: 30px;
        line-height: 30px;
}
    a.btn.btn-circle i {
    font-size: 15px;
        line-height: initial;
}
}
@media (max-width: 1169px) and (min-width: 768px){
    .nav-logo , .nav-logo img{
        transform: none
    }
    div#navbar-collapse {
    position: static;
}
    .nav-logo {
    width: 100px;
}
}

@media (max-width: 767px) {
    .login-page{
        background-size: cover;
    }
    .login-box {
    margin-top: 10%;
}
    .login-box .logo a img {
    max-width: 90px;
}
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 35px;
    width:max-content;
    margin: 0 auto;
    float: right;
}
    form.phone_validate label.form-label {
    display: none;
}
    .header .form.phone_validate .col-sm-3.col-xs-12 {
    width: 75%;
}
    .header .form.phone_validate button.btn.btn-primary.waves-effect {
    margin-top: 0;
    }
    .card .header h2 {
    font-size: 18px;
}
    .card .header .header-dropdown {
    position: static;
    text-align: left;
    margin: 10px 0 0 0;
}
}


[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    left: 0;
    opacity: 0;
    height: 1px;
    width: 1px;
}

td table thead th {
    color: #333 !important;
}

/* ========= new custome =============*/
nav.navbar {
    background-color: #89d7ec !important;
}
.sidebar .menu .list a {
    color: #89d7ec !important;
}
.sidebar .menu .list a:hover span {
    color: #89d7ec !important;
}
.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #e99fae !important;
}
.card .header h2 {
    color: #e99fae !important;
}
thead {
    background: #e58999;
 
}
.btn-info, .btn-info:active, .btn-info:focus {
    background-color: #e58999 !important;
}
.btn-success {
    background-color: #020202 !important;
}
.dt-buttons button:hover {
    background-color: #e58999 !important;
  }
  .btn-danger:hover {
    background-color: #e99fae !important;
   
}
.dropdown-menu > li > a {
    color: #e99fae!important;
    font-weight: bold;
}
.dropdown-menu.pull-left:hover {
    background-color: #ffffff;
}
.spinner-layer.pl-red {
    border-color: #89d7ec;
}


/*****************print*************/
#printMeBill {
    text-align: right;
}

.flex-bill {
    display: flex;
    justify-content: space-between;
}

.block.refuse {
    border: 1px solid #000;
    padding: 5px;
    min-height: 50px;
    margin-top: 7px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}

.content-text span {
    font-weight: bold;
}

div#printMeBill {
    display: none;
}
.aligne-center{
    text-align: center;
}
@media print {
    body {
        text-align: right !important;
        direction: rtl;
    }
    #printMeBill {
        text-align: right !important;
        direction: rtl;
    }
    .block.refuse {
        background-color: #f3f3f3;
    }
}